{% extends 'base.html' %}
{% load static %}
{% block title %}<title>DJ e-commerce - Error 404</title>{% endblock title %}

{% block main %}

<main class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Ups!</span> Página no encontrada.</p>
        <p class="lead">
            La página que estás buscando no existe.
          </p>
        <a href="{% url 'ecommerce:home' %}" class="btn btn-primary">Ir a Inicio</a>
    </div>
</main>

{% endblock %}