{% extends 'base.html' %}

{% block title %}<title>DJ e-commerce - Login</title>{% endblock title %}

{% block main %}
<main class="d-flex text-center" style="min-height: calc(100vh - 68px)">  
  <section class="form-signin col-lg-3 m-auto">
    <form>
      <div class="d-inline-flex gap-1 justify-content-center align-items-center p-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-pc-display" viewBox="0 0 16 16">
            <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
        </svg>
        <div class="d-flex flex-column fw-semibold">
            <span style="font-size: 16px">DJANGO</span>
            <span style="font-size: 16px">E-COMMERCE</span>
        </div>
      </div>
      <h1 class="h3 mb-3 fw-normal">Ingresar</h1>

      <div class="form-floating mb-2">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>
      
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
     
      <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    </form>
  </section>
</main>
{% endblock %}